<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!-- Modal -->
<th:block th:fragment="modalFragment">
    <th:block th:replace="/layout/fragments/modal/apiModal :: apiModalFragment"></th:block>
    <th:block th:replace="/layout/fragments/modal/moveModal :: moveModalFragment"></th:block>
    <th:block th:replace="/layout/fragments/modal/cancleModal :: cancleModalFragment"></th:block>
    <th:block th:replace="/layout/fragments/modal/deleteModal :: deleteModalFragment"></th:block>
    <th:block th:replace="/layout/fragments/modal/deleteDtlModal :: deleteDtlModalFragment"></th:block>
    <th:block th:replace="/layout/fragments/modal/addCodeDtlModal :: addCodeDtlModalFragment"></th:block>
    <th:block th:replace="/layout/fragments/modal/editCodeDtlModal :: editCodeDtlModalFragment"></th:block>
    <th:block th:replace="/layout/fragments/modal/createDirectoryModal :: createDirectoryModalFragment"></th:block>
    <th:block th:replace="/layout/fragments/modal/insertBoardModal :: insertBoardModalFragment"></th:block>
    <th:block th:replace="/layout/fragments/modal/taskInfoModal :: taskInfoModalFragment"></th:block>
    <th:block th:replace="/layout/fragments/modal/userInviteModal :: userInviteModalFragment"></th:block>
    <th:block th:replace="/layout/fragments/modal/modifyBoardModal :: modifyBoardModalFragment"></th:block>
    <th:block th:replace="/layout/fragments/modal/modifyCmtModal :: modifyCmtModalFragment"></th:block>

    <th:block th:replace="/layout/fragments/modal/modalScript :: modalScriptFragment"></th:block>
</th:block>

</html>