<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!-- Modal -->
<th:block th:fragment="taskInfoModalFragment">
    <div class="modal fade" tabindex="-1" id="taskInfoModal">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="taskInfoTitle">프로젝트 정보</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table cellpadding="0" cellspacing="0" class="table-borderless" style="width: 100%">
                        <colgroup>
                            <col width="20%">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>
                                TaskNm
                            </th>
                            <td>
                                <input type="hidden" id="taskKeyInput">
                                <input type="text" id="taskNmInput" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table class="table table-bordered mt-3">
                                    <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Id</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Admin</th>
                                    </tr>
                                    </thead>
                                    <tbody id="modalUserList">

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger me-auto" th:attr="onclick=|removeTask()|">제거</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="taskInfoToggleBtn">닫기</button>
                    <button type="button" class="btn btn-primary" id="taskInfoConfirmBtn" th:attr="onclick=|updateTaskAdmin()|">저장</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

</html>